.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: inline-block;
    width: 70px;
    background-color: #696969;
    color: #FFF;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #696969;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #b44545;
    color: white;
}

.BuildControl .More {
    background-color: #696969;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #ac3030;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #4e4c4c;
    color: white;
}